#main-navbar{
  background-color: blue;
  position: relative;
  float: left;}

#navbar-container{
  width: 100%;
  color: #fff;
  float: left;}

#navbar-container ul{
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

#navbar-container ul li{
  float: left;
  position: relative;
  display: block;
}

#navbar-container ul li a{
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  position: relative;
  color: #fff;
}

#navbar-container ul li a: hover{
  background-color: #000;
}

#onpage{
  text-decoration: underline overline;
}

#sidebar{
  right: 0%;
  position: fixed;
  height: 100%;
  width: 20%;
  background-color: red;
}

#sidebar ul{
  list-style-type: none;
  padding: 0;
}

#sidebar ul li a{
  background-color: red;
  display: block;
  padding: 15px 0;
  text-decoration: none;
  text-align: center;
}

#sidebar ul li a:hover{
  background-color: #000;
}